{% extends 'base.html.twig' %}

{% block title %} Contactez-moi!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Contact</h1>

    {{form_start(form)}}
    <div class="row mb-3">
        <div class="col-lg-6">
            {{form_label(form.firstname)}}
            {{form_widget(form.firstname)}}
        </div>
        <div class="col-lg-6">
            {{form_label(form.lastname)}}
            {{form_widget(form.lastname)}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            {{form_label(form.email)}}
            {{form_widget(form.email)}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            {{form_label(form.message)}}
            {{form_widget(form.message, { 'attr' : {'rows' : 10 }} ) }}
        </div>
    </div>
    <div class="row mb-3">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}